<?php
	$ecdababfffeaec = url("reset-password");
$dfbbebdbfadef= <<<EOT

    <AccountScreen button="Proceed" title="Returning Customer." caption="Glad to have you back. Please proceed with your login details.">

        <Input name="username">Client ID / Email address</Input>
        <Input type="password" name="password">Password</Input>

        <div class="form-footer-tabs">
            <label for="remember">
                <input type="checkbox" id="remember" name="remember"> Remember me
            </label>
            <a href="$ecdababfffeaec">Forgot password?</a>
        </div>

    </AccountScreen>

EOT;
	echo \Hyphe\Engine::ParseTags($dfbbebdbfadef, './components/Directives/');
	?>