<?=\Moorexa\Rexa::runDirective(true,'partial','auth-header', ['__css' => $__css])?>

<?php
	$cbedefebedfb = url("login");
$feaadcdeacde= <<<EOT

    <authWrapper button="Create an account" 
    caption="Don't have an account? Here you can easily create a new account."
    inject="nav-link" exportparts="authButton,socialSignup" excludeparts="socialAuthLinks" buttonsize="col-12 mt-3">

        <FormField name="firstname" icon="fa-user">First Name</FormField>
        <FormField name="lastname" icon="fa-user">Last Name</FormField>
        <FormField name="email_address" icon="fa-envelope" type="email">Email Address</FormField>
        <FormField name="password" type="password" icon="fa-lock">Password</FormField>
        <FormField name="password_again" type="password" icon="fa-lock">Password Again</FormField>

        <div class="row">
            <div class="col-12">
                <div class="icheck-primary">
                    <input type="checkbox" id="iagree" name="iagree">
                    <label for="iagree">
                        I agree to the <a href="" style="text-decoration: underline;">terms and condition</a> of this platform.
                    </label>
                </div>
			</div>
			
            exportparts.authButton
	  </div>
	  
	  exportparts.socialSignup

      <nav-link>
        <p class="mb-1 mt-3">
            <a href="$cbedefebedfb">I already have an account.</a>
          </p>
      </nav-link>

    </authWrapper>

EOT;
	echo \Hyphe\Engine::ParseTags($feaadcdeacde, './component/Directives/');
	?>

<?=\Moorexa\Rexa::runDirective(true,'partial','auth-footer', ['__js' => $__js])?>