<!-- ================= Slideshow Banner ================== -->
<section class="main-banner scroll-con-sec hero-section" data-scrollax-parent="true">
	<div class="slideshow-container">
		<!-- slideshow-item -->	
		<div class="slideshow-item">
			<div class="bg"  data-bg="<?=\Moorexa\Rexa::runDirective(true,'getImage','slide1-bg')?>"></div>
		</div>
		<!--  slideshow-item end  -->	
		<!-- slideshow-item -->	
		<div class="slideshow-item">
			<div class="bg"  data-bg="<?=\Moorexa\Rexa::runDirective(true,'getImage','slide2-bg')?>"></div>
		</div>
		<!--  slideshow-item end  -->	
		<!-- slideshow-item -->	
		<div class="slideshow-item">
			<div class="bg"  data-bg="<?=\Moorexa\Rexa::runDirective(true,'getImage','slide3-bg')?>"></div>
		</div>
		<!--  slideshow-item end  -->	                        
	</div>

	<div class="overlay"></div>
	<div class="hero-section-wrap fl-wrap">
		<div class="container">
			<div class="intro-item fl-wrap">
				<div class="caption text-center cl-white">
					<h2>Find your next hotel</h2>
					<p>Explore top rated hotels and apartments around the world</p>
				</div>
				<form>
					<fieldset class="home-form-1">
					
						<div class="col-md-3 col-sm-3 padd-0">
							<input type="text" class="form-control br-1" placeholder="Destination">
						</div>
						
						<div class="col-md-3 col-sm-3 padd-0">
							<input type="text" name="book-date" class="form-control br-1" value="Check in - out">
						</div>
							
						<div class="col-md-2 col-sm-2 padd-0">
							<div class="sl-box">
								<select class="wide form-control br-1">
									<option data-display="Adults">Adults</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
									<option value="4">04</option>
								</select>
							</div>
						</div>
							
						<div class="col-md-2 col-sm-2 padd-0">
							<div class="sl-box">
								<select class="wide form-control br-1">
									<option data-display="Children">Children</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
									<option value="4">04</option>
								</select>
							</div>
						</div>
						
							
						<div class="col-md-2 col-sm-2 padd-0">
							<button type="submit" class="btn theme-btn cl-white seub-btn">Search</button>
						</div>
							
					</fieldset>
				</form>

				<div class="st-feature-items row">
					<div class="col col-xs-12 col-sm-4">
						<div class="item">
							<h4 class="title">20,000+ properties</h4>
							<div class="desc">Morbi semper fames lobortis ac</div>
						</div>
					</div>
					<div class="col col-xs-12 col-sm-4">
						<div class="item">
							<h4 class="title">Trust & Safety</h4>
							<div class="desc">Morbi semper fames lobortis ac</div>
						</div>
					</div>
					<div class="col col-xs-12 col-sm-4">
						<div class="item">
							<h4 class="title">Best Price Guarantee</h4>
							<div class="desc">Morbi semper fames lobortis ac</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- ================ Slideshow Banner End ================ -->
