<style id="template-stylesheet">
	@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
	.template-wrapper{display: flex; justify-content: center; align-items: center; padding: 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2); width: 95%; margin: auto; margin-top: 20px; color: #12233E;}
	.template-wrapper .template-body{width: 80%; margin: 0 auto; text-align: center; font-family: 'Poppins', sans-serif; line-height: 26px;}
	.template-wrapper .template-body h1{font-weight: 700; font-family: 'Poppins', sans-serif; margin-bottom: 30px; font-size: 35px;}
	.template-wrapper .template-body p{font-size: 16px; margin-bottom: 30px;}
	.template-wrapper .template-body .template-button{margin-bottom: 30px;}
	.template-wrapper .template-body .template-button a{display: block; width: 50%; height: 65px; text-align: center;
	color: #fff; background-color: #FF4E00; font-size: 16px; border-radius: 40px; margin: 0 auto;
	display: flex; justify-content: center; align-items: center;}
	.template-wrapper .template-body .template-footer ul{list-style: none; display: flex; justify-content: center;}
	.template-wrapper .template-body .template-footer ul li{padding-right: 6px; padding-left: 6px; opacity: 0.27;
	padding-top: 0px; position: relative;}
	.template-wrapper .template-body .template-footer ul li::after{
		position: absolute;
		top: 0;
		right: 0;
		content: "|";
		width: 1px;
		height: 100%;
		color: #12233E;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.template-wrapper .template-body .template-footer ul li:last-child:after{content: '';}
	.template-wrapper .template-body .template-footer ul li:hover{opacity: 1;}
	.template-wrapper .template-body .template-footer .template-footer-text{display: block; margin-bottom: 20px;
	font-size: 14px;}
	.template-wrapper .template-body .template-footer .template-footer-small-text{font-size: 12px; opacity: 0.3;
	max-width: 70%; display: block; margin: auto;}
	.template-wrapper .template-body .template-footer .template-footer-small-text a{text-decoration: underline;}
</style>

<div class="template-wrapper">
	<div class="template-body">
		<h1>Password Recovery</h1>
		<p>Hi there, a password reset was initiated on your account on the {date} with this IP address {ipaddress}.  Please ignore this if it wasn’t you, or proceed with this request by clicking on the button below if it was you</p>
		<div class="template-button">
			<a href="{link}" target="_blank">Reset my password</a>
		</div>

		<div class="template-footer">
			<ul>
				<li><a href="">About us</a></li>
				<li><a href="">Properties</a></li>
				<li><a href="">Car rental</a></li>
				<li><a href="">Become a partner</a></li>
				<li><a href="">Trust & Safety</a></li>
				<li><a href="">Best price</a></li>
			</ul>
			<span class="template-footer-text">
				© {year} Centurion Apartments Limited. All Rights Reserved. <br> No 30, Wuse Zone 4, Abuja Ciry, Nigeria 
			</span>

			<span class="template-footer-small-text">
				You are receiving this email because you signed up for a Centurion account. If you no longer wish to receive these emails, please <a href="">unsubscribe here</a>
			</span>
		</div>
	</div>
</div>