<div class="card">
	<div class="card-header">
		<h3 class="card-title">Partners list</h3>
	</div>

	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
			<tr>
			  <th>Business Name</th>
			  <th>Contact Phone</th>
			  <th>Contact Address</th>
			  <th>Contact Email</th>
			  <th>Status</th>
			  <th>Action</th>
			</tr>
			</thead>

			<tbody>
				<?php $partners = (\Moorexa\Bootloader::$currentClass)->query->getAllPartners(); $json = [];?>
				<?php
$partners = $partners;if ($partners->rows > 0){
$partners->reset();while ($partner = $partners->obj())
{ ?>
					<tr>
						<td><?=$partner->business_name?></td>
						<td><?=$partner->contact_phone?></td>
						<td><?=$partner->contact_address?></td>
						<td><?=$partner->contact_email?></td>
						<td>
							<?php if($partner->verified == 0) { ?>
								<span class="badge badge-warning">not verified</span>
							<?php } elseif ($partner->verified == 2) { ?>
								<span class="badge badge-danger">declined</span>
							<?php } else { ?>
								<span class="badge badge-success">verified</span>
							<?php } ?>
						</td>
						<td>
							<?php $info = $partner->from('users_information', 'userid')->get();?>

							<?php 
 // PHP starts here 

								$json[$partner->userid] = [
									'business' => $partner->row(),
									'info' => $info->row()
								];
							
 // PHP ends here 
 ?>	

							<button class="badge badge-info" data-toggle="modal" data-userid="<?=$partner->userid?>" data-target="#modal-<?=$partner->verified == 0 ? 'notverified' : 'verified'?>"><i class="fa fa-eye"></i> View</button>
						</td>
					</tr>
				<?php }} ?>
			</tbody>

		</table>
	</div>
</div>

<?php dropbox('json_data', $json);?>

<?=\Moorexa\Rexa::runDirective(true,'partial','partners-modal')?>

<script type="text/deffered">
	$('#example1').DataTable();
</script>