<?php
	$fdbeeceaccdfdecceeae = url("register");
	$edeeeddd = $assets->image("arrow-left.png");
	$cbedefebedfb = url("login");
	$ccdbebedadbdcffc = $assets->image("arrow-right.png");
$eafacceaacd= <<<EOT

    <AccountScreen button="Proceed" title="Password Recovery." 
    caption="Please provide a customer ID and email address associated 
    with your account to continue. We would send a link to your mail 
    where you would be asked to provide a new password  
    to your account."
    inject="nav" image="slide3-bg">

        <Input name="username">Client ID</Input>
        <Input type="email" name="email">Email Address</Input>
        
        <nav>
            <a href="$fdbeeceaccdfdecceeae"><img src="$edeeeddd"> Become a member</a>
            <a href="$cbedefebedfb" style="display: flex;flex: min-content;justify-content: flex-end;">Account login <img src="$ccdbebedadbdcffc"></a>
        </nav>
    </AccountScreen>

EOT;
	echo \Hyphe\Engine::ParseTags($eafacceaacd, './component/Directives/');
	?>