<?=\Moorexa\Rexa::runDirective(true,'partial','auth-header', ['__css' => $__css])?>

<?php
	$cbedefebedfb = url("login");
	$fdbeeceaccdfdecceeae = url("register");
$fdaaedbdc= <<<EOT

    <authWrapper button="Request new password" 
    caption="You forgot your password? Here you can easily retrieve a new password."
    inject="nav-link" exportparts="authButton" excludeparts="socialAuthLinks,socialSignup" buttonsize="col-12">

        <FormField name="email_address" type="email" icon="fa-envelope">Email Address</FormField>

        <div class="row">
            exportparts.authButton
        </div>

      <nav-link>
          <p class="mb-2 mt-3">
            <a href="$cbedefebedfb">Login</a>
          </p>

          <p class="mb-2">
            <a href="$fdbeeceaccdfdecceeae">Create a new account</a>
          </p>
      </nav-link>

    </authWrapper>

EOT;
	echo \Hyphe\Engine::ParseTags($fdaaedbdc, './component/Directives/');
	?>

<?=\Moorexa\Rexa::runDirective(true,'partial','auth-footer', ['__js' => $__js])?>