<?php
	$ecdababfffeaec = url("reset-password");
	$fdbeeceaccdfdecceeae = url("register");
	$edeeeddd = $assets->image("arrow-left.png");
$bfccbfacdacccb= <<<EOT

    <AccountScreen button="Proceed" 
    title="Returning Customer."
    caption="Glad to have you back. Please proceed with your login details."
    inject="nav" image="slide7-bg">

        <Input name="email_address">Email address</Input>
        <Input type="password" name="password">Password</Input>

        <div class="form-footer-tabs">
            <label for="remember">
                <input type="checkbox" id="remember" name="remember"> Remember me
            </label>
            <a href="$ecdababfffeaec">Forgot password?</a>
        </div>

        <nav>
            <a href="$fdbeeceaccdfdecceeae"><img src="$edeeeddd"> Become a member</a>
        </nav>

    </AccountScreen>

EOT;
	echo \Hyphe\Engine::ParseTags($bfccbfacdacccb, './component/Directives/');
	?>