<li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Property types</a>
    <ul class="dropdown-menu megamenu-content" role="menu">
        <li>
            <div class="row">
                <div class="col-menu col-md-3">
                    <h6 class="title">Apartment</h6>
                    <div class="content">
                        <ul class="menu-col">
                            <li><a $href="apartments">All <em class="pull-right">(0)</em></a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a $href="apartments"><i class="fa fa-plus"></i> Discover more</a></li>
                        </ul>
                    </div>
                </div><!-- end col-3 -->
                <div class="col-menu col-md-3">
                    <h6 class="title">Condo</h6>
                    <div class="content">
                        <ul class="menu-col">
                            <li><a $href="apartments">All <em class="pull-right">(0)</em></a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a $href="apartments"><i class="fa fa-plus"></i> Discover more</a></li>
                        </ul>
                    </div>
                </div><!-- end col-3 -->
                <div class="col-menu col-md-3">
                    <h6 class="title">Duplex House</h6>
                    <div class="content">
                        <ul class="menu-col">
                            <li><a $href="apartments">All <em class="pull-right">(0)</em></a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a $href="apartments"><i class="fa fa-plus"></i> Discover more</a></li>
                        </ul>
                    </div>
                </div>    
                <div class="col-menu col-md-3">
                    <h6 class="title">House</h6>
                    <div class="content">
                        <ul class="menu-col">
                            <li><a $href="apartments">All <em class="pull-right">(0)</em></a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a href="">Demo</a></li>
                            <li><a $href="apartments"><i class="fa fa-plus"></i> Discover more</a></li>
                        </ul>
                    </div>
                </div><!-- end col-3 -->
            </div><!-- end row -->
        </li>
    </ul>
</li>