<hy directive="authWrapper">
	<hy func="render">
		<hy lang="html">
			<div class="login-box">
				<div class="login-logo">
				  <a hy-href="/">
					<b>Centurion</b>App</a>
				</div>
				<!-- /.login-logo -->
				<div class="card">
				  <div class="card-body login-card-body">
					<p class="login-box-msg">{props.caption}</p>
			  
					<form action="" method="post">
					  @csrf;
					  {props.children}

					  <authButton>
						<!-- /.col -->
						<div php-if::class="isset(props.buttonsize) ? props.buttonsize : 'col-4'">
							<button type="submit" class="btn btn-primary btn-block">{props.button}</button>
						</div>
						<!-- /.col -->
					  </authButton>
					</form>
			  
					<socialAuthLinks>
						<div class="social-auth-links text-center mb-3">
							<p>- OR -</p>
							<a href="#" class="btn btn-block btn-primary">
								<i class="fab fa-facebook mr-2"></i> Sign in using Facebook
							</a>
							<a href="#" class="btn btn-block btn-danger">
								<i class="fab fa-google-plus mr-2"></i> Sign in using Google+
							</a>
						</div>
					</socialAuthLinks>

					<socialSignup>
						<div class="social-auth-links text-center">
							<p>- OR -</p>
							<a href="#" class="btn btn-block btn-primary">
							  <i class="fab fa-facebook mr-2"></i>
							  Sign up using Facebook
							</a>
							<a href="#" class="btn btn-block btn-danger">
							  <i class="fab fa-google-plus mr-2"></i>
							  Sign up using Google+
							</a>
						</div>
					</socialSignup>

					<!-- /.social-auth-links -->
					{$this->props->inject['nav-link']}

					
				  </div>
				  <!-- /.login-card-body -->
				</div>
			  </div>
			  <!-- /.login-box -->
			  
		</hy>
	</hy>
</hy>