@partial('auth-header', ['__css' => $__css]);

<hy>
    <authWrapper button="Change Password" 
    caption="You are only one step a way from your new password, enter a new password to continue."
    inject="nav-link" exportparts="authButton" excludeparts="socialAuthLinks,socialSignup" buttonsize="col-12">

        <FormField name="password" type="password" icon="fa-lock">Password</FormField>
        <FormField name="password_again" type="password" icon="fa-lock">Password Again</FormField>

        <div class="row">
            exportparts.authButton
        </div>

      <nav-link>
          <p class="mb-2 mt-3">
            <a $href="login">Login</a>
          </p>
      </nav-link>

    </authWrapper>
</hy>

@partial('auth-footer', ['__js' => $__js]);