@partial('auth-header', ['__css' => $__css]);

<hy>
    <authWrapper button="Sign In" 
    caption="Please proceed with your login details."
    inject="nav-link" exportparts="authButton" excludeparts="socialSignup">

        <FormField name="email_address" type="email" icon="fa-envelope">Email Address</FormField>
        <FormField name="password" type="password" icon="fa-lock">Password</FormField>

        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
            exportparts.authButton
      </div>

      <nav-link>
        <p class="mb-1">
            <a $href="reset-password">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a $href="register" class="text-center">Register a new membership</a>
          </p>
      </nav-link>

    </authWrapper>
</hy>

@partial('auth-footer', ['__js' => $__js]);