<hy>
    <AccountScreen button="Proceed" title="Become a customer." 
    caption="We are glad you are here, You would be required to provide
	your basic information. This process shouldn’t take more than
	30 seconds of your time." inject="nav" image="slide1-bg">

		<div class="wrapper column-gap10">
			<div class="w1-10">
				<Input name="firstname">First Name</Input>
			</div>
			<div class="w10-end">
				<Input name="lastname">Last Name</Input>
			</div>
		</div>
        
		<Input type="email" name="email_address">Email Address</Input>
		<Input type="password" name="password">Password</Input>
		<Input type="password" name="password_again">Password Again</Input>

        <div class="form-footer-tabs" style="grid-template-columns: 1fr;">
            <label for="iagree" style="display: block;">
                <input type="checkbox" id="iagree" name="iagree" required> I agree to the <a href="" style="text-decoration: underline;">terms and condition</a> of this platform.
            </label>
		</div>
		
		<nav>
			<a $href="login"><img $src="arrow-left.png"> Account login</a>
		</nav>
    </AccountScreen>
</hy>