<section class="card">
    <section class="card-header card-header-flex">
        <h3 class="card-title">Cars Listed by you</h3>
        <div class="btn-wrapper">
        <a href="" class="btn btn-success"><i class="fa fa-plus"></i> Rent a car</a>
        </div>
    </section>
    <section class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Car</th>
                  <th>Location</th>
                  <th>Amount</th>
                  <th>Bookings</th>
                  <th>Views</th>
                  <th>Ratings</th>
                  <th>Reviews</th>
                  <th>Status</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="" class="text text-danger"><i class="fa fa-trash-alt"></i></a></td>
                        <td><a href="" style="text-decoration: underline;">Toyota Corolla, 2019</a></td>
                        <td>Jabi, abuja</td>
                        <td>N10,000/day</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                            <ul class="ratings">
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                        </td>
                        <td>0</td>
                        <td>
                            <span class="badge badge-warning">Ongoing Approval</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>

<script type="text/deffered">
    $('#example1').DataTable();
</script>