<section class="card">
    <section class="card-header card-header-flex">
        <h3 class="card-title">Property Floors</h3>
        <div class="btn-wrapper">
        <a $action="add" class="btn btn-success"><i class="fa fa-plus"></i> Add a Floor</a>
        </div>
    </section>
    <section class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Floor Name</th>
                  <th>Floor Number</th>
                  <th>Floor Description</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                    
                </tbody>
            </table>
        </div>
    </section>
</section>

<script type="text/deffered">
    $('#example1').DataTable();
</script> 