@partial('auth-header', ['__css' => $__css]);

<hy>
    <authWrapper button="Request new password" 
    caption="You forgot your password? Here you can easily retrieve a new password."
    inject="nav-link" exportparts="authButton" excludeparts="socialAuthLinks,socialSignup" buttonsize="col-12">

        <FormField name="email_address" type="email" icon="fa-envelope">Email Address</FormField>

        <div class="row">
            exportparts.authButton
        </div>

      <nav-link>
          <p class="mb-2 mt-3">
            <a $href="login">Login</a>
          </p>

          <p class="mb-2">
            <a $href="register">Create a new account</a>
          </p>
      </nav-link>

    </authWrapper>
</hy>

@partial('auth-footer', ['__js' => $__js]);