<!-- ====================== Popular Tour ================= -->
<section class="gray-dot gray-bg">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title text-center">
                    <span class="theme-cl">Some of our finest properties</span>
                    <h2>Top <strong>Rated</strong> Places</h2>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 30px;">
            
            <div class="list-slider">
            
                <!-- Single Tour -->
                <div class="list-slide-box">
                    <article class="tour-box style-1">
                    
                        <!-- Single Tour -->
                        <div class="tour-box-image">
                            <figure>
                                <a href="">
                                    <img src="@getImage('slide3-bg');" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <div class="entry-bookmark">                                   
                                    <a href="#"><i class="ti-bookmark"></i></a>
                                </div>
                                <div class="tour-time">
                                    <i class="ti ti-car"></i><span>25h</span>
                                </div>
                                <h4 class="tour-place">
                                    <a href="">Centurion Apartments</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-author">
                                <div class="coauthors">
                                    <span class="vcard author">
                                        <span class="fn">
                                            <a href="#"><img alt="" src="assets/img/user-1.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <i class="ti-comment-alt"></i><span>25</span>
                            </div>
                            <div class="meta-item meta-rating fl-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-title">
                                    <a href="">Nigeria, Abuja</a>
                                </h4>
                                <div class="price-box">
                                    <div class="tour-price fl-right">
                                        <i class="ti ti-user"></i><span class="theme-cl f-bold">$187</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </article>
                </div>
                
                <!-- Single Tour -->
                <div class="list-slide-box">
                    <article class="tour-box style-1">
                    
                        <div class="tour-box-image">
                            <figure>
                                <a href="">
                                    <img src="@getImage('slide2-bg');" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <div class="entry-bookmark">                                   
                                    <a href="#"><i class="ti-bookmark"></i></a>
                                </div>
                                <div class="tour-time">
                                    <i class="ti ti-car"></i><span>2 days</span>
                                </div>
                                <h4 class="tour-place">
                                    <a href="">Lakeside Apartments</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-author">
                                <div class="coauthors">
                                    <span class="vcard author">
                                        <span class="fn">
                                            <a href="#"><img alt="" src="assets/img/user-2.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <i class="ti-comment-alt"></i><span>26</span>
                            </div>
                            <div class="meta-item meta-rating fl-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-title">
                                    <a href="">Nigeria, Abuja</a>
                                </h4>
                                <div class="price-box">
                                    <div class="tour-price fl-right">
                                        <i class="ti ti-user"></i><span class="theme-cl f-bold">$130</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </article>
                </div>
                
                <!-- Single Tour -->
                <div class="list-slide-box">
                    <article class="tour-box style-1">
                    
                        <div class="tour-box-image">
                            <figure>
                                <a href="">
                                    <img src="@getImage('slide1-bg');" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <div class="entry-bookmark">                                   
                                    <a href="#"><i class="ti-bookmark"></i></a>
                                </div>
                                <div class="tour-time">
                                    <i class="ti ti-car"></i><span>21h</span>
                                </div>
                                <h4 class="tour-place">
                                    <a href="">Rockside View 5 stars</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-author">
                                <div class="coauthors">
                                    <span class="vcard author">
                                        <span class="fn">
                                            <a href="#"><img alt="" src="assets/img/user-3.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <i class="ti-comment-alt"></i><span>17</span>
                            </div>
                            <div class="meta-item meta-rating fl-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-title">
                                    <a href="">Nigeria, Lagos</a>
                                </h4>
                                <div class="price-box">
                                    <div class="tour-price fl-right">
                                        <i class="ti ti-user"></i><span class="theme-cl f-bold">$215</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </article>
                </div>
                
                <!-- Single Tour -->
                <div class="list-slide-box">
                    <article class="tour-box style-1">
                    
                        <div class="tour-box-image">
                            <figure>
                                <a href="">
                                    <img src="@getImage('slide7-bg');" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <div class="entry-bookmark">                                   
                                    <a href="#"><i class="ti-bookmark"></i></a>
                                </div>
                                <div class="tour-time">
                                    <i class="ti ti-car"></i><span>22h</span>
                                </div>
                                <h4 class="tour-place">
                                    <a href="">SunCity Apartments</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-author">
                                <div class="coauthors">
                                    <span class="vcard author">
                                        <span class="fn">
                                            <a href="#"><img alt="" src="assets/img/user-4.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <i class="ti-comment-alt"></i><span>18</span>
                            </div>
                            <div class="meta-item meta-rating fl-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-title">
                                    <a href="">Nigeria, Calabar</a>
                                </h4>
                                <div class="price-box">
                                    <div class="tour-price fl-right">
                                        <i class="ti ti-user"></i><span class="theme-cl f-bold">$240</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </article>
                </div>
                
                <!-- Single Tour -->
                <div class="list-slide-box">
                    <article class="tour-box style-1">
                    
                        <div class="tour-box-image">
                            <figure>
                                <a href="">
                                    <img src="@getImage('slide8-bg');" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <div class="entry-bookmark">                                   
                                    <a href="#"><i class="ti-bookmark"></i></a>
                                </div>
                                <div class="tour-time">
                                    <i class="ti ti-car"></i><span>17h</span>
                                </div>
                                <h4 class="tour-place">
                                    <a href="">Fregate Accomodations</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-author">
                                <div class="coauthors">
                                    <span class="vcard author">
                                        <span class="fn">
                                            <a href="#"><img alt="" src="assets/img/user-5.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <i class="ti-comment-alt"></i><span>15</span>
                            </div>
                            <div class="meta-item meta-rating fl-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-title">
                                    <a href="">Nigeria, Owerri</a>
                                </h4>
                                <div class="price-box">
                                    <div class="tour-price fl-right">
                                        <i class="ti ti-user"></i><span class="theme-cl f-bold">$117</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </article>
                </div>
                
            </div>
        </div>

    </div>
</section>
<!-- ====================== Popular Tour ================= -->
<div class="clearfix"></div>